* {padding: 0;
    margin: 0;}

    body {
        
        display: flex;
        align-items: center;
        justify-content: center;
   
}



.grid-container {
    display: grid;    
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }

.grid-container div {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    padding: 10px;
    font-size: 1.5em;}

.item1 {
    background-color:darkcyan;
    grid-column-start: 1;
    grid-column-end: 5;
}
.item2 {
    background-color:darkolivegreen;
    grid-row-start: 2;
    grid-row-end: 30;
}
.item3 {
    background-color:darksalmon;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 30;
}
.item4 {
    background-color:gray;
    grid-row-start: 2;
    grid-row-end: 30;
}
.item5 {
    background-color:seagreen;
    grid-column-start: 1;
    grid-column-end: 5;
}